ion-content {
    --ion-background-color: rgb(51,102,204); 
}
ion-item {
    --ion-background-color: transparent;
}
.form {
    margin-top: 15%;
}
.img-custom {
    text-align: center;
    margin-top: 30%;
}
.img-custom img {
    width: 50%;
}
.text-center {
    text-align: center;
}