<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Selecciona tu Emergencia</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-end>
          <ion-col size="6">
            <div class="container-img bg-first">
                <img src="/assets/img/policia.png" alt=""/>
                <p>Serenazgo</p>
            </div>
          </ion-col>
          <ion-col size="6">
              <div class="container-img bg-second">
                  <img src="/assets/img/ambulance.png" alt=""/>
                  <p>Ambulancia</p>
              </div>
          </ion-col>
          <ion-col size="6">
            <div class="container-img bg-tercero">
              <img src="/assets/img/bombero.png" alt=""/>
              <p>Bomberos</p>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="container-img bg-cuarto">
              <img src="/assets/img/violencia.png" alt=""/>
              <p>Violencia Farmiliar</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>    
  </ion-card>  
  <ion-list>
    <ion-list-header>
      Action
    </ion-list-header>
     <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/parque.png">
      </ion-thumbnail>
      <ion-label>Limpieza de Parque</ion-label>
    </ion-item>
     <ion-item>
      <ion-thumbnail slot="start" class="bg-first">
        <img src="/assets/img/semaforo.png">
      </ion-thumbnail>
      <ion-label>Problema Vial</ion-label>
    </ion-item>
     <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/basura.png">
      </ion-thumbnail>
      <ion-label>Acumulación de basura</ion-label>
    </ion-item>
     <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/basura.png">
      </ion-thumbnail>
      <ion-label>Acumulación de basura</ion-label>
    </ion-item>
     <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/basura.png">
      </ion-thumbnail>
      <ion-label>Acumulación de basura</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/img/basura.png">
      </ion-thumbnail>
      <ion-label>Acumulación de basura</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
