.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.container-img {
  text-align: center;   
  padding: 9px;
  color: white;
}
.container-img img {
  margin-left: 32%;
  width: 35%;
}
.bg-first {
  background-color: #5a5aa9;
}
.bg-second {
  background-color: #f04141;
}
.bg-tercero {
  background-color: #f08e41;
}
.bg-cuarto {
  background-color: #0bb8cc;
}
